{% extends 'base.html.twig' %}

{% block body %}
    <button type="button">start</button>
    <form id="selection">
        <input type="text" placeholder="email joueur1"/>
        <input type="text" placeholder="email joueur2"/>
        <input type="text" placeholder="email joueur3"/>
        <input type="text" placeholder="email joueur4"/>
        <input type="submit" value="valider"/>
    </form>
{% endblock %}

{% block stylesheets %}

{% endblock %}
